* {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
}

p {
  font-size: 40px;
  color: rgb(235, 235, 235);
  text-align: center;
}

.clock {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  margin: auto;
  margin-top: 40px;
  display: flex;
}

#cl {
  border-radius: 50%;
  background-color: rgb(117, 117, 117);
  border: none;
  box-shadow: 15px 0px 25px #7a7a7a, -10px -3px 25px #969696;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin: auto;
  position: absolute;
  left: 49.2%;
  top: 52%;
}

#hr, #min, #sec {
  transform-origin: bottom;
  background: rgb(0, 0, 0);
  position: absolute;
}

#hr {
  height: 120px;
  width: 8px;
  left: 49.7%;
  top: 33%;
}

#min {
  height: 95px;
  width: 5px;
  left: 22.8%;
  top: 20%;
}

#sec {
  height: 150px;
  width: 3px;
  left: 31.8%;
  top: -59%;
}
